{% load static %} {% block content %}
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="box">

        <img src="icon.png">
        <div class="page">
            <div>
                <br><br>
                <p style = "font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #159565"> Enter Your Email To Continue </p>
            </div>

            <div id="errorMsg"></div>
            <div class="content">
                <form class="login" name="loginForm" method="POST" id="reset", action="{% url 'get-link' %}">
                    {% csrf_token %}
                    <input type="email" name="email" id="signEmail" placeholder="Email">
                    <br><br>
                    <center><input type="submit" value="Proceed"  style = "width:55%; font-size: 18px;"></center>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        const userdata =  document.getElementById("reset")
       userdata.addEventListener("submit", submitHandler);
       
       function submitHandler(e){
       e.preventDefault();

    email = document.getElementById("signEmail").value
    if (email == "") {
		document.getElementById("errorMsg").innerHTML = "Please fill the required fields"
		return false;
	}
	else {
                const formData = new FormData();
        //console.log(name);
        formData.append('email', email);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(formData);
        fetch('{% url "forgot-password" %}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            alert('Success! click on the login botton to continue')
        })
                return true;
	}
  
  }
    </script>

</body>
</html>
{% endblock %}