{% load static %} {% block content %}

<!doctype html>

<head>
    <meta charset="UTF-8">
    <title>LogIn and Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="box">

        <img src="{% static 'img/icon.png' %}">
        <div class="page">
            <div class="header">
                <a id="login" class="active" href="{% url 'login-in' %}">log in</a>
                <a id="signup" class="">Sign Up</a>
            </div>
            <div id="errorMsg"></div>
            <div class="content">
                <form class="signup" name="signupForm" id="signup_form" action=""  method="POST">
                    {% csrf_token %}
                    <input type="email" name="email" id="signEmail" placeholder="Email">
                    <input type="text" name="name" id="signName" placeholder="Username">
                    <input type="password" name="password" id="signPassword" placeholder="Password"><br>
                    <input type="submit" value="Sign Up">
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'js/index.js' %}"></script>

    <script>
       const userdata =  document.getElementById("signup_form")
       userdata.addEventListener("submit", submitHandler);
       
       function submitHandler(e){
       e.preventDefault();

    username = document.getElementById("signName").value;
    email = document.getElementById("signEmail").value
    password = document.getElementById("signPassword").value
    if (email == "" || username == "" || password == "") {
		document.getElementById("errorMsg").innerHTML = "Please fill the required fields"
		return false;
	}
    else if (password.length < 8) {
		document.getElementById("errorMsg").innerHTML = "Your password must include atleast 8 characters"
		return false;
	}
	else {
                const formData = new FormData();
        //console.log(name);
        formData.append('username', username);
        formData.append('email', email);
        formData.append('password', password);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(formData);
        fetch('{% url "sign-up" %}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            alert('Success! click on the login botton to continue')
        })
        .catch(error => {
            alert("error in the input field. Try again")
        });
                return true;
	}
  
  }

function loginUser() {
  var username = document.getElementById('username').value;
  var password = document.getElementById('password').value;

  var url = 'http://127.0.0.1:8000/login-in/';
  var data = {
    username: username,
    password: password
  };
  
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  // .then(response => response.json())
  .then(result => {
    if (result.message === 'success') {
      // User is authenticated, handle the success response here
      console.log('Login successful');
      // Redirect to a new page or update the UI accordingly
    } else {
      // Authentication failed, handle the error response here
      console.log('Authentication failed: ' + result.messages);
      // Display error message to the user or handle it in any desired way
    }
  })
  .catch(error => {
    console.error('Error:', error);
    // Handle any network or server errors
  });
}


    </script>
</body>
</html>
{% endblock %}